.contact-details-body {
  color: #c3c3c3;
  margin-top: 40px;
}

.contact-me {
  display: flex;
  justify-content: space-evenly;
}

.contact-me-details {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-me-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.contact-form {
    margin: 20px 0px;
  display: flex;
  flex-direction: column;
}

.input-type,
.textarea-type {
  font-family: "Josefin Sans", sans-serif;
  width: 300px;
  padding: 8px 20px;
  background-color: white;
  box-shadow: 0px 0px 5px 0px #a5a5a5;
  border-radius: 5px;
  border: none;
}

.send-button {
  font-family: "Josefin Sans", sans-serif;
  background-color: #ecc94b;
  width: 300px;
  padding: 8px 20px;
  box-shadow: 0px 0px 5px 0px #acacac;
  border-radius: 5px;
  border: none;
}

.textarea-type {
  resize: none;
}

.contact-me-details_heading {
  color: black;
  font-weight: 700;
  font-size: 40px;
}

.contact-me-details_subheading {
  font-size: 15px;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

/* for responseviness fo this website  */
@media screen and (max-width: 480px) {
  .contact-me {
    flex-direction: column;
  }
  .contact-details-body {
    height: 170%;
  }
  .contact-me-details {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .contact-me-form {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 600px) {
  .contact-me {
    flex-direction: column;
    gap: 20px;
  }
  
  .contact-me-details {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .contact-me-form {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}
