.footer-body{
    background-color: #FFEE58;
    padding: 16px 0 32px 0;
}

.footer-title{
    display: flex;
    justify-content: center;
}

.footer-social-media{
    margin: 16px 0 0 0;
    display: flex;
    justify-content: center;
    gap: 25px;
}

.footer-copyrights{
    margin: 32px 0 0 0;
    display: flex;
    justify-content: center;
}

.footer-icons-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.footer-icons-text{
    margin: 8px 0 0 0;
}

.footer-icons{
    font-size: 24px;
    color: black;
}

.footer-icons:hover{
    transition: 1s;
    transform: scale(1.25);
}

.teligram-icon:hover{
    color: #2fa3d9;
}

.whatsapp-icon:hover{
    color: #00920f;
}

.instagram-icon:hover{
    color: #f701ab;
}
