.Navbody {
  position: sticky;
  top: 0;
  z-index: 3;
  margin-top: 0px;
  height: 50px;
  transition: 0.5s;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 5px 0px 5px 0px;
}

.bg-transparent {
  background-color: transparent;
}

.bg-white {
  background-color: white;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.profile-name {
  font-size: 24px;
  font-weight: bolder;
}

.profile-navigation {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 40px;
}

.profile-navigation-items {
  display: flex;
  font-weight: bold;
  font-size: 13px;
  justify-content: center;
  padding: 5px;
  margin: 5px;
  list-style-type: none;
  gap: 70px;
}

.profile-navigation-hireme {
  font-weight: 300;
  font-size: 12px;
  background-color: black;
  font-weight: bold;
  color: white;
  padding: 5px 20px 5px 20px;
  margin: 0px 30px 0px 30px;
  border-radius: 7px;
}

.menuButtons {
  display: none;
}

/* this is not perfect, changes are still in Progresss  */

@media screen and (max-width: 480px) {
  /* jus for testing  */

  .Navbody > div:not(:first-child) {
    display: none;
  }

  .menuButtons {
    display: block;
  }

  .hamburger-cross-icon {
    display: none;
  }

  .hamburger-icon {
    display: block;
  }

  .Navbody {
    flex-direction: column;
    height: 30%;
    background-color: white;
  }

  .profile-name {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-direction: row;
  }

  .profile-navigation {
    display: block;
    width: 100%;
    flex-direction: column;
    gap: 0px;
  }

  .hide-profile-nav {
    display: none;
  }

  .profile-navigation-items {
    gap: 5px;
    align-items: start;
    flex-direction: column;
  }

  .profile-navigation-hireme {
    display: none;
  }

  .profile-navigation-items > li {
    padding: 5px;
    width: 100%;
  }
}
