.Navbody {
  position: sticky;
  top: 0;
  z-index: 3;
  margin-top: 0px;
  height: 50px;
  transition: 0.5s;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 5px 0px 5px 0px;
}

.bg-transparent {
  background-color: transparent;
}

.bg-white {
  background-color: white;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.profile-name {
  font-size: 24px;
  font-weight: bolder;
}

.profile-navigation {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 40px;
}

.profile-navigation-items {
  display: flex;
  font-weight: bold;
  font-size: 13px;
  justify-content: center;
  padding: 5px;
  margin: 5px;
  list-style-type: none;
  gap: 70px;
}

.profile-navigation-hireme {
  font-weight: 300;
  font-size: 12px;
  background-color: black;
  font-weight: bold;
  color: white;
  padding: 5px 20px 5px 20px;
  margin: 0px 30px 0px 30px;
  border-radius: 7px;
}

.hamburger-icon{
  display: none;
}

/* this is not perfect, changes are still in Progresss  */

@media screen and (max-width: 480px) {
  /* jus for testing  */
  .hamburger-icon{
    display: block;
  }
  .profile-name{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 0px 20px;
    justify-content: space-between;
  }
  .Navbody{
    height: 300px;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .hide-profile-nav{
    transition: 0.5s;
    display: none;
  }
  .profile-nav-height-change{
    height: 50px;
  }
  .profile-navigation{
    gap: 10px;
    position: relative;
    flex-direction: column;
  }
  .profile-navigation-items{
    flex-direction: column;
    gap: 10px;
  }
}