.PortfolioDescbody {
  position: relative;
  display: flex;
  max-width: 100%;
  height: auto;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 590px;
  width: 100%;
  padding: 5px 0px 5px 0px;
}

.leftPart {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
}

.rightPart {
  height: 100%;
  width: 50%;
}

.social-media-left-bar{
  display: flex;
  flex-direction: column;
  position: sticky;
  background-color: white;
  top: 25%;
  left: 0;
  padding: 8px;
}

.social-media-left-bar-icons{
  padding: 10px;
  border-radius: 5px;
}

.social-media-left-bar-icons > a{
  line-height: 0;
}

.social-media-left-bar-icons:hover{
  background-color: #e4a4002e;
  transition: 0.5s;
  cursor: pointer;
}

.social-media-icon{
  font-size: 30px !important;
}

@media screen and (max-width: 480px) {
  .PortfolioDescbody {
    flex-direction: column-reverse;
    margin: 0px;
  }
  .leftPart {
    justify-content: center;
    width: 100%;
  }
  .rightPart {
    width: 100%;
  }
}

@media screen and (max-width: 821px) {
  .PortfolioDescbody {
    flex-direction: column-reverse;
    margin: 0px;
  }
  .social-media-left-bar{
    display: none;
  }
  .leftPart {
    justify-content: center;
    width: 100%;
  }
  .rightPart {
    width: 100%;
  }
}

