.PortfolioDescbody{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 590px;
    width: 99%;
    padding: 5px 0px 5px 0px;
    margin: 5px;
}

.leftPart{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
}

.rightPart{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
    /* Remove after done Updating right Part */
    border: 2px solid black;
}