@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;500;600;700&display=swap');

body{
    position: relative;
    font-family: "Roboto", sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    padding: 0px;
    margin: 0px;
}

.portfolio-desc-full-section{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(79,255,190,1) 0%, rgba(173,201,255,1) 100%);
}