@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;500;600;700&display=swap');

body{
    height: 100%;
    width: 100%;
    position: relative;
    font-family: "Roboto", sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    padding: 0px;
    margin: 0px;
}

h1,h2,h3,h4{
    padding: 0px;
    margin: 0px;
    font-family: 'Josefin Sans', sans-serif;
}

::-webkit-scrollbar {
    width: 0px;
  }

.portfolio-desc-full-section{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(79,255,190,1) 0%, rgba(173,201,255,1) 100%);
}

.portfolio-details{
    padding: 0px 120px;
}

@media screen and (max-width: 480px) {
    .portfolio-details{
        padding: 0px 20px;
    }
}

@media screen and (max-width: 821px) {
    .portfolio-details{
        padding: 0px 40px;
    }
}